body{
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}
p{
    color: gray;
}
ul{
    list-style: none;
    
}

nav ul{
    display: flex;
    float: right;
}
nav{
    float: right;
    justify-content: right;
    width: 100%;
    margin-right: 50px;
}
nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    
}
h1{
    font-size: 50px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5% ;
    padding-left: 2%;
}
.half-width img{
    width: 70%;
    margin-left: ;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(228, 151, 205),rgb(221, 23, 139));
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    
}
.half-width p{
    padding-bottom: 20px;
}
.half-width h2{
    font-size: 30px;
}
.latest-project{
    background-color: rgb(242, 243, 243);
    height: 800px;
    padding-left: 5%;
}
.latest-project h1{
    font-size: 40px;
    text-align: center;
    padding: 50px;

}
.project{
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    width: 25%;
    float: left;
    margin-left: 3%;
    padding: 20px 20px;
    height: 40%;
    background-color: #fff;
}
.project img{
    width: 100%;
   
}
.contact{
    text-align: center;
}
.contact img{
     width: 60%;
     margin: 8% 20%;
}
.icon{
    height: 40px;
    width: 50px;
    margin-left: 45%;
    margin-right: 40%;
    display: flex;
    
}
.blue-highlight{
    color: rgb(199, 21, 154);
}
